body {
  font-family: "Bitter", serif;
  font-family:"Playfair Display", serif;
  font-size: 16px;
  line-height: 1.5;
  color: #0f0602ff; /*smoky black*/
  background-color: #E4E4E1; /*pale gray*/
  text-align: left;
}

#container {
  grid-area: container;
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

#home main {
  grid-area: home;
  width: 960px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "header header"
    "bulk bulk"
    "footer footer";

  grid-gap: 20px;
}

#guide {
  background-color: #FFEFC8; /*pale yellow*/
  border: 5px solid #0f0602ff; /*smoky black*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 25px;
}

#about-me {
  background-color: #f7d6e0; /*pale pink*/
  border: 5px solid #0f0602ff; /*smoky black*/
  padding-left: 20px;
}

#about {
  border: 5px solid #0f0602ff; /*smoky black*/
  background-color: #DAD3FF; /*pale purple*/
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 10px;
  margin-top: 20px;
}



#container main {
  grid-area: main;
  width: 960px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "ingredients ingredients"
    "instructions instructions"
    "notes notes";

  grid-gap: 10px;
  padding-right: 20px;
}

#ingredients{
  background-color: #fff1e6; /*pastel yellow*/
  border: 5px solid #0f0602ff; /*smoky black*/
  padding-left: 20px;
  margin-top: 30px;
  margin-right: 15px;
}

#instructions{
  background-color: #BEE1E6; /*pastel green*/
  border: 5px solid #0f0602ff; /*smoky black*/
  padding-left: 20px;
  width: 30ch;
  padding-right: 20px;
  margin-top: 30px;
}

#notes {
  background-color: #FAD2E1; /*pastel pink*/
  border: 5px solid #0f0602ff; /*smoky black*/
  padding-left: 20px;
  width: 60ch;
  padding-right: 20px;
  margin-top: 15px;
  margin-right: 15px;
}


a,
a:link {
  color: #ee6055; /*strawberry red*/
  text-decoration: none;
}
a:visited {
  color: #5D00FF; /*royal purple*/
}
a:hover {
  color: #FF006E; /*hot pink*/
  text-decoration: underline;
}
a:active {
  color: #C200FB; /*magenta*/
}

footer {
  grid-area: footer;
  padding: 20px;
}

#container header{
  text-align: center;
  box-shadow: 12px 12px 2px 1px #CCCCCC; /* gray*/
  background-color: #BECEFB; /*darker periwinkle*/
  border: 5px solid #0f0602ff; /*smoky black*/
  margin-top: 15px;
  width: 975px;
}

#home header {
  background-color: #BDE0FE; /*pale blue*/
  border: 5px solid #0f0602ff; /*smoky black*/
  padding-left: 20px;
  padding-right: 20px;
}
